/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
.img-area img {
  position: absolute;
  transition: opacity 1s ease-in-out;
  top: 0;
  right: 0;
}

.img-area img.img-front:hover {
  opacity: 0;
  cursor: pointer;
}

.montserratFont {
  font-family: 'montserrat',  ;

}

.playFairFont{
  font-family: 'Playfair Display'
}
.nunitoFont{
  font-family: 'Nunito'
}
.svg_icons {
  transform: scale(1.8);
  color: #219D80;
}